/* Variables */

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$font-family: 'Red Hat Display', sans-serif;

/* Base styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font-family;
}

/* Mobile styles */@at-root

.container{
    min-height: 100vh;
    background-color: $pale-blue;
    background-image: url('/images/pattern-background-desktop.svg');
    background-position: top right;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    padding: 3.5rem 1.2rem;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;

    &-image{
        height: 25vh;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &-content{
        padding: 1.5rem 1.2rem;
        text-align: center;
        background: #fff;

        &-text{
            width: 100%;

            h1{
                font-size: 1.3rem;
                line-height: 1.1;
                color: $dark-blue;
                margin-bottom: 1rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            p{
                font-size: .9rem;
                color: $desaturated-blue;
                line-height: 1.7;
                margin-bottom: 2rem;
            }

            .order{
                display: flex;
                align-items: center;
                padding: 1.1rem .6rem;
                background: $very-pale-blue;
                border-radius: .7rem;
                margin-bottom: 1.2rem;

                img{
                    width: 2.6rem;
                    margin-right: 1rem;
                }

                h3{
                    color: $dark-blue;
                    text-align: left;
                    font-size: .9rem;
                    line-height: 1.5;
                    flex: 1;

                    span{
                        font-size: .8rem;
                        font-weight: 300;
                    }
                }

                .btn{
                    border: none;
                    outline: none;
                    color: $bright-blue;
                    text-decoration: underline;
                    font-size: .8rem;
                    font-weight: 700;
                    transition: .35 ease-in;
                    cursor: pointer;

                    &:hover{
                        text-decoration: none;
                        color: $desaturated-blue;
                    }
                }
            }

            .payment{
                display: block;
                text-decoration: none;
                color: #fff;
                background: $bright-blue;
                padding: .8rem;
                border-radius: .5rem;
                font-size: .8rem;
                box-shadow: 0 .7rem 2rem $desaturated-blue;
                font-weight: 700;
                transition: background .35s;

                &:hover,
                &:active
                {
                    background: $desaturated-blue;
                }
            }

            .cancel{
                display: inline-block;
                margin-top: 1.2rem;
                text-decoration: none;
                color: $desaturated-blue;
                font-weight: 700;
                font-size: .9rem;
                transition: color .35s;

                &:hover{
                    color: $dark-blue;
                }
            }
        }
    }
}

.attribution{
    text-align: center;
    margin-top: 1.2rem;
    font-size: .9rem;

    a{
        font-size: .9rem;
        text-decoration: none;
        color: $desaturated-blue;
        transition: color .35s;

        &:hover,
        &:active{
            color: $dark-blue;
        }
    }
}

/* Larger Mobile screen size styles */
@media screen and (min-width: 430px) {
    .container{
        padding: 3.5rem 1.7rem;
    }

    .card-content-text .order img {
        width: 3rem;
        margin-right: 1.3rem;
    }
}
