/* Variables */
/* Base styles */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

/* Mobile styles */
.container {
  min-height: 100vh;
  background-color: #e0e8ff;
  background-image: url("/images/pattern-background-mobile.svg");
  background-position: top right;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  padding: 3.5rem 1.2rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.card-image {
  height: 25vh;
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 1.5rem 1.2rem;
  text-align: center;
  background: #fff;
}

.card-content-text {
  width: 100%;
}

.card-content-text h1 {
  font-size: 1.3rem;
  line-height: 1.1;
  color: #1f2f56;
  margin-bottom: 1rem;
  font-weight: 900;
  text-transform: capitalize;
}

.card-content-text p {
  font-size: .9rem;
  color: #7280a7;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.card-content-text .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1rem .6rem;
  background: #f5f7ff;
  border-radius: .7rem;
  margin-bottom: 1.2rem;
}

.card-content-text .order img {
  width: 2.6rem;
  margin-right: 1rem;
}

.card-content-text .order h3 {
  color: #1f2f56;
  text-align: left;
  font-size: .9rem;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-content-text .order h3 span {
  font-size: .8rem;
  font-weight: 300;
}

.card-content-text .order .btn {
  border: none;
  outline: none;
  color: #3829e0;
  text-decoration: underline;
  font-size: .8rem;
  font-weight: 700;
  -webkit-transition: .35 ease-in;
  transition: .35 ease-in;
  cursor: pointer;
}

.card-content-text .order .btn:hover {
  text-decoration: none;
  color: #7280a7;
}

.card-content-text .payment {
  display: block;
  text-decoration: none;
  color: #fff;
  background: #3829e0;
  padding: .8rem;
  border-radius: .5rem;
  font-size: .8rem;
  -webkit-box-shadow: 0 0.7rem 2rem #7280a7;
          box-shadow: 0 0.7rem 2rem #7280a7;
  font-weight: 700;
  -webkit-transition: background .35s;
  transition: background .35s;
}

.card-content-text .payment:hover, .card-content-text .payment:active {
  background: #7280a7;
}

.card-content-text .cancel {
  display: inline-block;
  margin-top: 1.2rem;
  text-decoration: none;
  color: #7280a7;
  font-weight: 700;
  font-size: .9rem;
  -webkit-transition: color .35s;
  transition: color .35s;
}

.card-content-text .cancel:hover {
  color: #1f2f56;
}

.attribution {
  text-align: center;
  margin-top: 1.2rem;
  font-size: .9rem;
}

.attribution a {
  font-size: .9rem;
  text-decoration: none;
  color: #7280a7;
  -webkit-transition: color .35s;
  transition: color .35s;
}

.attribution a:hover, .attribution a:active {
  color: #1f2f56;
}

/* Larger Mobile screen size styles */
@media screen and (min-width: 430px) {
  .container {
    padding: 3.5rem 1.7rem;
  }
  .card-content-text .order img {
    width: 3rem;
    margin-right: 1.3rem;
  }
}

/* Small Tablet styles */
@media screen and (min-width: 620px) {
  .container {
    padding: 3.5rem 10rem;
    background-image: url("/images/pattern-background-desktop.svg");
  }
}

/* Large Tablet styles */
@media screen and (min-width: 860px) {
  .container {
    padding: 3.5rem 15rem;
  }
}

/* Laptop styles */
@media screen and (min-width: 1200px) {
  .container {
    padding: 3.5rem 25rem;
  }
  .card-content {
    padding: 3rem 2.5rem;
    width: 100%;
  }
  .card-content-text h1 {
    font-size: 1.6rem;
  }
  .card-content-text p {
    font-size: 1rem;
  }
  .card-content-text .order {
    padding: 1.3rem .9rem;
  }
  .card-content-text .order h3 {
    font-size: 1rem;
  }
  .card-content-text .order h3 span {
    font-size: .9rem;
  }
}

/* Desktop styles */
@media screen and (min-width: 1300px) {
  .container {
    padding: 3.5rem 30rem;
    background-size: 100% 40%;
  }
}
/*# sourceMappingURL=style.css.map */